@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  width: 100vw;
  background: #0a0a0a;
  color: #ebebeb;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #141414;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #141414;
}

*::-webkit-scrollbar-thumb {
  background-color: #292929;
}